/*CSS do menu inicial - 01/11/2022*/

.wallColor {
	background-color: #F29100;
}

.triangulo{
	position: relative;
	left:15px;
	top: 10%; 
	border-top: 125px solid transparent;
	border-bottom: 125px solid transparent;
	border-left: 150px solid #25AB53; 
}

.rectangle_2 {
	position: relative;
	width: 320px;
	height: 100%;
	left: 0px;
	top: 0px;
	bottom: 0px;
	
}

.esqueci_a_minha_senha{
	position: absolute;
	width: 180px;
	height: 22px;
	left: 790px;
	top: 706px;
}

.inp_email{
	position: absolute;
	width: 500px;
	height: 59px;
	left: 630px;
	top: 432px;
}

@media only screen and (max-width: 768px) {
	.rectangle_1{
		margin: auto;
		width: 512px;
		height: 559px;
		background: #FFFFFF;
		box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.25), -16px -16px 16px rgba(255, 255, 255, 0.25);
		border-radius: 16px;
	}
}

@media only screen and (max-width: 1024px) {
	.rectangle_1{
		margin: auto;
		width: 940px;
		height: 559px;
		background: #FFFFFF;
		box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.25), -16px -16px 16px rgba(255, 255, 255, 0.25);
		border-radius: 16px;
	}
}

@media only screen and (min-width: 1280px) {
	.rectangle_1{
		margin: auto;
		width: 1025px;
		height: 604px;
		background: #FFFFFF;
		box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.25), -16px -16px 16px rgba(255, 255, 255, 0.25);
		border-radius: 16px;
	}
}

@media only screen and (min-width: 1440px) {
	.rectangle_1{
		margin: auto;
		width: 1280px;
		height: 725px;
		background: #FFFFFF;
		box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.25), -16px -16px 16px rgba(255, 255, 255, 0.25);
		border-radius: 16px;
	}
}

.btn_enter{
	position: relative;
	left: 180%;
	top: 3%;
	width: 220px;
	height: 70px;
	border: 10px outset #f29100;
	font-size: 36px;
	text-align: center;
	margin: 4px 2px;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	float: left;
}

.btn_cadastrar{
	position: relative;
	left: 50px;
	top: 15%;
	width: 220px;
	height: 70px;
	border: 10px outset #ffffff;
	font-size: 36px;
	text-align: center;
	margin: 4px 2px;
	background-color: #f29100;
	border-radius: 5px;
	padding: 5px;
}

.rel{
  position: relative;
  width: 212px;
  height: 51px;
  top: 140px;
  left: 510px;
  border: 3px solid #73AD21;
} 

body{
	display: flex;
	position:absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.dog{

	width: 503px;
	height: 608px;
	background-image: url("dog_230497594-removebg-preview 1.png");
	background-repeat: no-repeat;
	background-size: 503px, 608px;
	bottom: 0px;
	left: -100px;
	position: fixed;
}
.cat{

	width: 591px;
	height: 591px;
	background-image: url("71+mDoHG4mL 1.png");
	background-repeat: no-repeat;
	background-size: 591px, 591px;
	position: fixed;
	right:0px;
	top: 0px;
}

.input_field{
	
	position: relative;
	left: 130%;
	top: 240px;
	bottom: 0%;
	background: #EEEEEE transparent;
	box-shadow: 0px -4px 10px rgba(255, 255, 255, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 520px;
	height: 50px;
	margin: 10px;
}

.senha_field{
	
	position: relative;
	left: 130%;
	top: 260px;
	bottom: 0%;
	background: #EEEEEE transparent;
	box-shadow: 0px -4px 10px rgba(255, 255, 255, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 520px;
	height: 50px;
}

.petweb{
	position: absolute;
	width: 130px;
	height: 55px;
	left: 220px;
	top: 80px;
	font-family: 'Pavanam';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	/* identical to box height */
	letter-spacing: -0.05em;
	color: #E3E3E3;

	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.nao_perca_tempo{
	position: absolute;
	width: 245px;
	height: 100px;
	left: 220px;
	top: 200px;
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	color: #F1F1F1;
}

.cadastre_agora{
	position: absolute;
	width: 180px;
	height: 50px;
	left: 220px;
	top: 350px;
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: #F1F1F1;
}

.retorno_benvindo{
	
	position: absolute;
	width: 153px;
	height: 78px;
	left: 45%;
	top: 16.65%;
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	color: #F29100;
}

.acesse_conta{
	
	position: absolute;
	width: 180px;
	height: 22px;
	left: 45%;
	top: 33%;
	font-family: 'Patua One';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #F29100;
}

.esqueceu_senha{
	position: absolute;
	width: 180px;
	height: 22px;
	left: 57%;
	top: 65%;
	color: #f29100;
}